:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.form-wrapper {
  position: relative;
  text-align: center;
}


h2 {
  margin-bottom: 1.5rem;
  color: white;
  font-size: 1.8rem;
}

